/* sup class */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
} */

h1 {
  font-size: 65px;
  font-weight: 700;
  color: #151414;
  margin-bottom: 24px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #151414;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  color: #151414;
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #444343;
}

/* shared class */

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  border: 1px solid brown;
}

.white {
  color: white;
}

.btn {
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 20px 26px;
  border: none;
  border-radius: 5px;
  background-color: #f15b22;
  cursor: pointer;
}

.btn:hover {
  background-color: #f15d22cb;
}

.btn2 {
  font-size: 20px;
  font-weight: 600;
  color: #f15b22;
  padding: 20px 26px;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.btn2:hover {
  background-color: rgba(255, 255, 255, 0.897);
}

/* uncommon class */

#hero {
  width: 100vw;
  height: 808px;
  background-image: url("/images/banner/banner1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ededed;
}

.hero-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero-container .content .text {
  width: 100%;
  max-width: 525px;
}

.hero-container .content .text p {
  margin-bottom: 32px;
}

#fail,
#plan {
  width: 100vw;
  margin: 132px auto;
}

.fail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fail-container .text-content {
  width: 100%;
  max-width: 416px;
}

.text-content .bodyText {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text-content .bodyText ul li {
  list-style: none;
  margin-bottom: 8px;
  display: flex;
  gap: 10px;
}

#plan {
  text-align: center;
}

#plan .plan-container h2 {
  margin-bottom: 56px;
}

#plan .plan-container .cards-container {
  display: flex;
  justify-content: space-between;
}

#plan .plan-container .cards-container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.cards-container .card img {
  width: 93px;
  height: 93px;
}

.banner-container {
  background-image: linear-gradient(to right, #f15b22, rgba(255, 255, 255, 0)),
    url("/images/watch.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  height: 300px;
  padding: 60px 64px;
}

#banner {
  margin: 132px auto;
}

footer {
  background-color: #151414;
  padding: 130px 0;
  width: 100vw;
}

footer .footer-container {
}
